// ==========================================================================
// Hero
// ==========================================================================

.hero {
    overflow: hidden;
    position: relative;
    display: block;

    & img{
        width:100%;
        height:auto;
    }

    & .heroInner {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 30px 32px;
        z-index: 2;
        margin: 0 auto;
        text-align:center;
    }

    @media screen and (min-width: 768px) {


        & .heroInner {
            padding: 60px 40px 45px 40px;
        }
    }
}

// Utilities to handle alignment within body element
.heroBody {
    max-width:100%;
    padding-top:0;

    @media screen and (min-width: 768px) {
        max-width:500px;
        padding-top:25px;
    }
}

.desktopImage{
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.mobileImage{
    display: block;

    @media screen and (min-width: 768px) {
        display: none;
    }
}