@import 'variables';

.btn,
button{
  font-family:$base; 
  display:inline-block;
  width:auto;
  padding:15px 30px;
  background-color:$btn-base-color;
  color:$btn-text;
  text-transform: uppercase;
  letter-spacing:2px;
  font-weight:400;
  font-size:.78rem;
  min-width:220px;
  text-align: center;
  cursor:pointer;
  transition: all .5s ease;
  border:0;
  font-family:$heading;


  &:hover{
    background-color:$btn-hover;
  }

  &.btn-primary{
    background-color:$azure;
    color:$darkGray;

    &:hover{
      background-color:lighten($azure, 10%);
    }
  }

  &.btn-secondary{
    background-color:$sage;
    color:$white;

    &:hover{
      background-color:lighten($sage, 10%);
    }
  }

  &.btn-tertiary{
    background-color:$smoke;
    border-color:$smoke;
    color:$darkGray;

    &:hover{
      background-color:$linen;
      border-color:$linen;
    }
  }

  &.btn-oregano{
    background-color:$oregano;
    border-color:$oregano;
    color:$white;

    &:hover{
      background-color:lighten($oregano, 10%);
      border-color:lighten($oregano, 10%);
    }
  }

  &.btn-large{
    font-size:1rem;
    padding:13px 30px;
  }

  &.btn-small{
    font-size:.6rem;
    padding:16px 30px 17px;
  }

  &.btn-full-width{
    width:100%;
  }

  .featuredPostContent &,
  .searchForm &{
    min-width:0;
  }

  @media only screen and (min-width:768px){

    .contactMethods &,
    .featuredPostContent &{
      min-width:0;
    }
  }

}

button {

  .inlineFormElements &{
    border:0;
    background-color:$smoke;
    color:$darkGray;
    position: absolute;
    display: inline-block;
    width:40px;
    text-align:right;
    right:0;
    bottom:1px;
    padding: 9px 6px 9px 0;

    &:hover{
      color:$oregano;
    }
  }
}