@import 'variables';

.btn{
  font-family:$base; 
  display:inline-block;
  width:auto;
  padding:15px 30px;
  background-color:$btn-base-color;
  color:$btn-text;
  text-transform: uppercase;
  letter-spacing:2px;
  font-weight:400;
  font-size:.78rem;
  min-width:220px;
  text-align: center;
  cursor:pointer;
  transition: all 1s ease;

  &:hover{
    background-color:$btn-hover;
  }

  &.btn-primary{
    background-color:$azure;
    color:$darkGray;

    &:hover{
      background-color:lighten($azure, 10%);
    }
  }

  &.btn-secondary{
    background-color:$sage;
    color:$white;

    &:hover{
      background-color:lighten($sage, 10%);
    }
  }

  &.btn-tertiary{
    background-color:$smoke;
    border-color:$smoke;
    color:$darkGray;

    &:hover{
      background-color:$linen;
      border-color:$linen;
    }
  }

  &.btn-big{
    font-size:1rem;
    padding:13px 30px;
  }

  &.btn-small{
    font-size:.6rem;
    padding:16px 30px 17px;
  }


  .hero &{
    width:100%;
    max-width:75vw;
    margin-bottom:15px;
  }

  .ctaBar &{
    display: block;
    width:100%;
    
    &:first-child{
      margin-bottom:14px;
    }
  }

  @media only screen and (min-width:768px){

    .ctaBar &{
      display: inline-block;
      width:auto;
      margin-bottom:0;

      &:first-child{
        margin-bottom:0;
      }
    }
    
    .hero &{
      width:auto;
      max-width:100%;
      margin-bottom:0;
    }
  }
}