@import 'variables';

form{
    text-align:left;
}

fieldset{
    border:0;
    padding:0;
    margin:0;

    & legend{
        display: none;
    }
}

label{
    display: block;
    padding:0 0 8px 0;
    width:100%;
    color:$darkGray;
    font-size:.75rem;
    line-height:22px;
    font-weight:300px;
    text-transform: uppercase;
    letter-spacing:1px;
    font-family:$heading;

    & mark{
        color:$btn-hover;
    }
}

input,
select,
textarea{
    display: block;
    width:100%;
    padding:15px;
    border-radius:2px;
    border:1px solid darken($linen, 5%);
    background-color:lighten($linen, 5%);
    font-family:$base;
    font-size:1rem;
    letter-spacing:1px;

    &:focus{
        border-color:$darkGray;
    }

    &.vfb-error{
        background-color:lighten(pink, 9%);
        border-color:$error;
    }

    .inlineFormElements &{
        border:0;
        background-color:transparent;
        border-bottom:1px solid #eee;
        padding:0 0 6px 0;
        font-family:$special;
        font-size:.878rem;
        font-weight:400;

        &:focus{
            border-color:$oregano;
        }
    }
}

textarea{
    min-height:200px;

}

.searchForm{

    .widget_search &{
        position: relative;
    }
}

.vfb-legend{
    display: none;
}

.vfb-section{
    margin:0;
    padding:0;
}

.vfb-item,
fieldset > div{
    margin-bottom:21px;

    @media only screen and (min-width:768px){
        
        &.vfb-left-half,
        &.vfb-right-half{
            display: inline-block;
            vertical-align: top;
            width:48%;
        }

        &.vfb-right-half{
            float:right;
        }
    }
}

.vfb-item-submit{
    text-align:right;
}

.vfb-required-asterisk{
    color:$error;
    font-size:.7rem;
}

label.vfb-error{
    color:$error;
    font-size:.6rem;
    padding-top:4px;
    line-height:1.25;
    text-transform:none; 
    letter-spacing:0;
    font-family:$special;
    border-color:$error;
}