
/* COLORS */
$black: #222;
$darkGray:#343434;
$gray: #ccc;
$lightGray: #eee;
$white:#fff;

$smoke:#f9f7f6;
$linen:#edeae8;
$sand: #eae3db;

$azure:#aae6f2;
$sage:#93bfb5;
$oregano:#abae95;

$success:rgb(84, 205, 50);
$error: darkred;
$darkRed:$error;


/* FONTS */
$heading: 'Cardo', serif;
$base: 'Montserrat', sans-serif;
$special: 'Lora', serif;


/* BUTTONS */
$btn-base-color:$darkGray;
$btn-text:$smoke;
$btn-hover:#000;

@mixin boxShadow(){
    -webkit-box-shadow: 0px 13px 25px -13px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 13px 25px -13px rgba(0,0,0,0.21);
    box-shadow: 0px 13px 25px -13px rgba(0,0,0,0.21);   
}
